.btn {
  display: block;
  position: relative;
  height: 44px;
  width: 44px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 44px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.info-btn {
  text-align: center;
  background-color: rgba(224, 224, 224, 0.404);
  border-radius: 5px;
}

.play-btn {
  background-color: rgba(174, 181, 185, 0.5);
  border-radius: 5px;
  background-image: url("/img/play.svg");
  background-position: center;
  background-size: 12px auto;
  background-repeat: no-repeat;
}

.pause-btn {
  background-image: url("/img/pause.svg");
  background-size: 25px;
}

.header__degrees__btn-f,
.header__degrees__btn-c {
  pointer-events: none;
  color: yellow;
}

.active {
  color: rgb(255, 255, 255);
  pointer-events: all;
}
