.btn {
  display: block;
  position: relative;
  height: 44px;
  width: 44px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 44px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__degrees__btn-f,
.header__degrees__btn-c {
  pointer-events: none;
  color: yellow;
}

.active {
  color: rgb(255, 255, 255);
  pointer-events: all;
}
