.btn {
  display: block;
  position: relative;
  height: 44px;
  width: 44px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 44px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
