.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1020px) {
    justify-content: space-around;
  }

  @media (max-width: 620px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  @media (max-width: 440px) {
    transform: scale(0.6);
  }
}
