.header {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .alert-msg {
    text-align: center;
    width: 25%;
  }

  @media (max-width: 1020px) {
    justify-content: space-around;
  }

  @media (max-width: 650px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  @media (max-width: 440px) {
    transform: scale(0.6);
  }
}
